body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: gray;
}

img {
    width: 250px;
    height: auto;
}

a:link {
    color: black;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: red; 
}

